.separator {
  border-radius: 3px;
  background: get('colors.gray.s600');
  height: get('dimensions.s4');
  width: 15%;

  &.small {
    margin: get('dimensions.s32') 0 get('dimensions.s16');
  }

  &.medium {
    margin: get('dimensions.s48') 0 get('dimensions.s24');
  }

  &.large {
    margin: get('dimensions.s64') 0 get('dimensions.s32');
  }
}
