.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: get('dimensions.s24');
  font: get('fonts.family.medium');
  color: get('colors.gray.s100');

  .email {
    display: flex;
    flex-direction: column;
    width: 100%;

    .strong {
      font-weight: bold;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;

    input[type='email'] {
      border: 2px solid get('colors.gray.s800');
      padding: get('dimensions.s4');
      border-radius: 5px;
      font: get('fonts.family.small');

      &::placeholder {
        color: get('colors.gray.s800');
      }
    }

    input[type='submit'] {
      background: get('colors.primary.s400');
      border-radius: 5px;
      border: 2px solid get('colors.primary.s400');
      box-shadow: none;
      color: get('colors.white');
      cursor: pointer;
      font: get('fonts.family.small');
      margin-top: get('dimensions.s16');
      padding: get('dimensions.s4') get('dimensions.s12');
    }

    @media (min-width: get('media.sm')) {
      flex-direction: row;

      input[type='email'] {
        padding: get('dimensions.s8');
        font: get('fonts.family.medium');
        margin-right: get('dimensions.s16');
        min-width: 50%;
      }

      input[type='submit'] {
        margin-top: 0;
        padding: get('dimensions.s8') get('dimensions.s16');
        font: get('fonts.family.medium');
        font-weight: 500;
      }
    }
  }
}
