.title {
  margin-bottom: get('dimensions.s8');
}

.date {
  color: get('colors.gray.s600');
  margin-top: 0;
}

.nav {
  margin: get('dimensions.s48') 0;
}

.article {
  .pre {
    margin: get('dimensions.s24') 0;
  }

  h2 {
    margin: get('dimensions.s24') 0 get('dimensions.s16');
  }
}
