.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: get('dimensions.s32') 0;

  @media (min-width: get('media.xs')) {
    margin: get('dimensions.s48') 0;
  }

  @media (min-width: get('media.sm')) {
    margin: get('dimensions.s64') 0;
  }
}
