$media-sm: 768px;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: get('dimensions.s32') 0;

  @media (min-width: $media-sm) {
    margin: get('dimensions.s64') 0;
  }
}
