@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

html,
body,
div {
  margin: 0;
  padding: 0;
}

html, body {
  background: get('colors.gray.s200');
  color: get('colors.white');
  font: get('fonts.family.small');

  @media (min-width: 480px) {
    font: get('fonts.family.medium');
  }
}

main {
  max-width: get('dimensions.s768');
  margin: get('dimensions.s32') auto; // DONE: We want all dimensions to follow a system.
  padding: 0 get('dimensions.s32');

  @media (min-width: 768px) {
    padding: 0;
    margin: get('dimensions.s64') auto; // DONE: We want all dimensions to follow a system.
  }
}

a {
  color: get('colors.primary.s400');
}

blockquote {
  color: get('colors.gray.s800');
  margin: get('dimensions.s24') 0;
  padding: 0 get('dimensions.s24');
  border-left: 5px solid get('colors.gray.s400');

  > p {
    margin: 0;
  }
}

ul > li > p {
  margin: 0;
}

pre[class*='language'] {
  background-color: get('colors.gray.s100');
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .2), inset -1px -1px 3px rgba(0, 0, 0, 0.2);
  color: get('colors.white');
  text-shadow: none;
  padding: get('dimensions.s16');
  margin: get('dimensions.s24') 0;

  code {
    color: white;
    text-shadow: none;
  }

  .token.operator {
    background: none;
  }

  .token.punctuation {
    color: get('colors.white');
  }

  .token.atrule, .token.attr-value, .token.keyword {
    color: #008FCC;
  }

  .token.function, .token.class-name {
    color: #DF5873;
  }
}

h1 {
  font: get('fonts.family.larger');
}

h2 {
  font: get('fonts.family.large');
}

h3 {
  font: get('fonts.family.medium');
}
