.root {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: get('dimensions.s24') 0;

  @media (min-width: get('media.xs')) {
    margin: get('dimensions.s32') 0;
  }

  @media (min-width: get('media.sm')) {
    margin: get('dimensions.s48') 0;
  }

  @media (min-width: get('media.md')) {
    margin: get('dimensions.s64') 0;
  }

  &.home {
    justify-content: space-between;
  }

  .separator {
    margin: 0 get('dimensions.s4');
  }

  .noDecoration {
    text-decoration: none;
  }
}
